/* import other css */
@import "./reset.css";

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap%27');

/* Color Defination */
:root {
    --lightColor: #fff;
    --lightGray: #9A9A9A;
    --darkGray: #515151;
    --lightPink: #FEF6F0;
    --darkPink: #463232;
}

/* Start Styling */

/* 
+------------------------------------+
+             Base CSS               +
+------------------------------------+
*/

.title {
    color: var(--darkPink);
    font-size: 92px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 20px 0 30px 0;
}

.subtitle {
    color: var(--darkGray);
    font-size: 16px;
    /* font-weight: bold; */
    margin-top: -20px;
    margin-bottom: 50px;
    text-transform: initial;
}

.text {
    font-size: 16px;
    color: #252525;
}

.buttom-spacer {
    margin-bottom: 50px;
}

/* Start: Buttons */
.btn-black {
    border: none;
    background-color: var(--darkPink);
    color: white;
    font-size: 18px;
    padding: 2rem 6rem;
    margin: 20px 50px 20px 0;
}

.btn-white {
    border: solid 1px var(--darkPink);
    background-color: white;
    color: var(--darkPink);
    font-size: 18px;
    padding: 2rem 6rem;
    margin: 20px 50px 20px 0;
}
/* End: Buttons */

/* 
+------------------------------------+
+            Hero- Header            +
+------------------------------------+
*/

/* Background Image */
.hero-header {
    background-image: url(../img/pictures/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

/* Header */
#header-logo {
    font-size: 24px;
    font-family: Raleway, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 5rem;
}
.menu, .account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: var(--darkPink);
}

.menu-items {
    margin-left: 2rem;
}

.account-icon {
    margin-left: 2rem;
}

/* protecting-the-beauty */

#protecting-the-beauty {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* height: 1133px; */
}

.title-bold {
    display: flex;
    justify-content: center;
    font-size: 78px;
    font-weight: bold;
    color: var(--darkPink);
    text-transform: lowercase;
    padding: 2rem 0 3rem 0;
    margin-bottom: 50px;
}

#beauty-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
    /* padding-right: 1000px; */
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 250px;
    padding: 1rem 2rem;
    margin: 50px 50px 5px 0;
}

.search-content {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.search-logo {
    background-color: var(--darkPink);
    color: white;
    padding: 1rem;
    font-size: 14px;
    width: auto;

}

.social-media {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 50px ;
    font-size: 20px;
    color: var(--darkPink);
}

.social-media-icon {
    margin-top: 3rem;
}

/* 
+------------------------------------+
+               LENDERS              +
+------------------------------------+
*/

#lenders {
    background-color: var(--lightPink);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: var(--darkPink);
}

#lenders-title {
    font-size: 54px;
    color: var(--darkPink);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 0;
}

.lenders-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Not Working!!! */
    height: 30px;
    margin: 0 0 50px 0;
}

#chase {
    background-image: url(../img/logos/chase.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px;
    width: 160px;
    margin-right: 100px;
}

#asana {
    background-image: url(../img/logos/asana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 160px;
    width: 160px;
    margin-right: 90px;
}

#google {
    background-image: url(../img/logos/google.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 160px;
    width: 160px;
    margin-right: 90px;
}

#buzzfeed {
    background-image: url(../img/logos/buzzfeed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 160px;
    width: 160px;
    margin-right: 90px;
}

#toggle {
    background-image: url(../img/logos/Toggle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 160px;
    width: 160px;
    margin-right: 90px;
}

#walmart {
    background-image: url(../img/logos/walmart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 160px;
    width: 160px;
}

/* 
+------------------------------------+
+              about-us              +
+------------------------------------+
*/

#about-us {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding: 0 100px;
    margin-top: 100px;
}

#about-us-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#about-us-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
}

/* Left */
#about-us-text-1 {
    color: var(--lightGray);
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
}

#about-us-text-2 {
    color: var(--lightGray);
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
}



#about-us-picture-1 {
    background-image: url(../img/pictures/2-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    height: 600px;
}

#about-us-picture-2 {
    background-image: url(../img/pictures/2-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    height: 561px;
}


/* 
+------------------------------------+
+              Products              +
+------------------------------------+
*/

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px;
}

.post-left {
    padding-right: 20px;
}

.post-right {
    padding-left: 20px;
}

#post-pic-1 {
    background-image: url(../img/pictures/3-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    height: 600px;
}

#post-pic-2 {
    background-image: url(../img/pictures/3-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    height: 600px;
}

.post-title {
    color: var(--darkPink);
    font-size: 55px;
    text-transform: lowercase;
    padding: 20px 0 30px 30px;
}

.post-text {
    padding-left: 30px;
    line-height: 30px;
    color: var(--darkGray)
}

.post-btns {
    padding-left: 40px;
}

/* 
+------------------------------------+
++
+------------------------------------+
*/


/* 
+------------------------------------+
++
+------------------------------------+
*/